/* Global dark theme */
body {
    background-color: #343541;
    color: #d1d5db;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 10px;
  }
  
  /* Chatbox */
  .chatbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    background: #202123;
    max-height: 100vh;
    width: 100%; 
    box-sizing: border-box; 
  }

  /* Header */
  .header {
    display: flex;
    justify-content: flex-end;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    color: #202123;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1500px;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .user-menu {
    position: relative;
    display: inline-block;
  }
  
  .user-button {
    background: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown {
    background-color: #202123; 
    color: white;
    border: none; 
    padding: 10px;
   
  }
  
 
  .dropdown a {
    color: white;
    text-decoration: none; 
    display: block; 
    padding: 5px 10px;
   
  }
  
  .dropdown a:hover {
    background-color: #333;
  }
  
  /* Messages */
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #202123;
    border-radius: 10px;
    /* margin-bottom: 10px; */
  }

  
  .message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
  }
  
  .user {
    align-self: flex-end;
    background: #0a84ff;
    color: white;
  }
  
  .bot {
    align-self: flex-start;
    background: #444654;
    color: white;
  }
  
  /* Input Area */
  .input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: calc(100% - 20px); /* Adjust the width */
    margin-right: 10px; /* Add margin to the right */
    background: #202123;
    border-top: 1px solid #444654;
    border-radius: 10px;
}
  
  .input-area input {
    width: 100%;
    padding: 12px;
    background: #444654;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    margin-left: 5px;
  }
  
  .input-area button {
    padding: 12px 20px;
    background: #0a84ff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .input-area button:hover {
    background: #0073e6;
  }
  