/* Sidebar */

  
  .sidebar {
    width: 250px;
    background-color: #202123;
    padding: 20px;
    border-right: 1px solid #333;
    height: 95vh;
    display: flex;
    flex-direction: column;
  }

  /* .sidebar h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
  } */

  .sidebar h1 {
    color: #b5b5b5a4;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 2s linear infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  
  .shiny-text.disabled {
    animation: none;
  }
  
  
  .sidebar h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .sidebar-footer {
    font-size: 20px;
    color: #aaa;
    text-align: center;
    margin-top: auto;
    padding-top: 22px;
    border-top: 1px solid #444654;
  }