/* Sidebar */

  
  .sidebar {
    width: 250px;
    background-color: #202123;
    padding: 20px;
    border-right: 1px solid #333;
    height: 95vh;
    display: flex;
    flex-direction: column;
  }

  .sidebar h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .sidebar h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .sidebar-footer {
    font-size: 20px;
    color: #aaa;
    text-align: center;
    margin-top: auto;
    padding-top: 22px;
    border-top: 1px solid #444654;
  }