.sidebar {
  width: 250px;
  height: 100vh;
  background: #84a7ed;
  color: rgb(0, 0, 0);
  padding: 20px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #645f5f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
